@font-face {
    font-family: 'GT Pressura Mono';
    src: url("font/GT-Pressura-Mono-Regular-Trial copy.otf") format('opentype'),
         url("font/GT-Pressura-Mono-Regular-Italic-Trial copy.otf") format('opentype');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'GT Pressura Mono', 'Courier New', monospace;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}


.detail-header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
    z-index: 1000;
}

.back-link {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    text-transform: lowercase;
    text-decoration: none;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 25px;
    padding: 10px 24px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.back-link:hover {
    background-color: #000000;
    color: #ffffff;
}

.detail-container {
    width: 100%;      
    height: 100vh;   
    margin: 0;        
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #ffffff;
    box-sizing: border-box;
    z-index: 1;
}


.detail-container[data-environment="ocean"]::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExZjI2YnpkcDVlOHI5ZmNxN2MwM3lweTlydTN2am5kbDRlNGpiM3MwciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/XI7rk6UYBM4LWp2rw0/giphy.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 0;
}


.detail-container::after {
    content: '';
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: 1.5px solid #ffffff;  
    pointer-events: none;
    z-index: 2;  
}



.detail-container > * {
    position: relative;
    z-index: 3;
}


.video-placeholder {
    position: absolute;
    top: 35%;
    text-align: center;
}

.video-text {
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    text-transform: lowercase;
    line-height: 1.6;
}


.animal-name-pill {
    position: absolute;
    bottom: 170px; 
    display: flex;
    justify-content: center;
    width: 100%;
    
}


.animal-name {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-transform: lowercase;
    background-color: #ffffff;
    border: 1px solid #000000; 
    border-radius: 25px;
    padding: 14px 36px; 
    display: inline-block;
    margin: 0;
    box-shadow: 0 0 0 1px #000000; 
}



.animal-description {
    max-width: 700px;
    text-align: center;
    padding: 0 40px;
    position: absolute;
    bottom: 60px;
}

.animal-description p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: #ffffff;
    text-transform: lowercase;
}

