html, body {
  height: 100%;
  margin: 0;
  background: #ffffff;
  overflow: hidden;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
}

.circle {
  position: absolute;
  border-radius: 0%;
  transition: all .7s ease;
  cursor: pointer;
}

.circle:hover {
  transform: scale(1.1);
}